* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    height: 100vh;
}

/**
 * ############
 * ## Header ##
 * ############
*/

body > header {
    padding: 1rem;
    text-align: center;
    background-color: antiquewhite;
}

body > header > nav {
    margin-top: 1rem;
}

body > header > nav > ul {
    list-style: none;
}

body > header li {
    display: inline-block;
    margin: 0 0.5rem;
}

/**
 * ##########
 * ## Main ##
 * ##########
*/

main {
    padding: 0.5rem;
    text-align: center;
    background-color: gainsboro;
}

main > section {
    background-color: white;
    padding: 0.5rem;
}

main > section:first-child {
    margin-bottom: 0.5rem;
}

main > section > img {
    margin: 1rem 0;
    width: 100%;
}

main > section:first-child > p {
    margin-bottom: 1rem;
}

main > section:last-child > p {
    margin-top: 1rem;
}

/**
 * ############
 * ## Footer ##
 * ############
*/

body > footer {
    background-color: antiquewhite;
    text-align: center;
    padding: 1rem 0;
}

/**
 * #########################
 * ## Media query: +700px ##
 * #########################
*/

@media (min-width: 700px) {
    html {
        font-size: 16px;
    }

    main > section {
        max-width: 700px;
        margin: 0 auto;
    }

    main > section > img {
        width: 90%;
    }
}

/**
 * ##########################
 * ## Media query: +1000px ##
 * ##########################
*/

@media (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-grow: 1;
    }

    main > section > img {
        width: 80%;
    }

    main > section:first-child {
        margin-bottom: 0;
    }
}
